.box {
    position: relative;
    width: 100%; /* desired width */
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Other ratios */
.box.ratio2_1:before {
    padding-top: 50%;
}

.box.ratio1_2:before {
    padding-top: 200%;
}

.box.ratio4_3:before {
    padding-top: 75%;
}

.box.ratio16_9:before {
    padding-top: 56.25%;
}

.wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.keyButton{
    display: inline-block;
}